*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   
    

}
h1{
    margin: 20px 0px;
}
div {
    width: 900px;
    height: 600px;
    border: 1px solid red;
    background-image: url("image.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    background-position: center;
     
}