
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    margin: 50px 0;
}

div{
 width: 300px;
    height: 200px;
}
.static{
   
    background-color: red;
    position: static;
    
}

.relative{
    width: 500px;
    height: 300px;

    background-color: blue;
    position: relative;

}
.absolute{
 background-color: orange;
 position: absolute;
 top: 0px;
 left: 100px;
}
.fixed{
    background-color: dodgerblue;
    position: fixed;
    top: 0px;
    right: 100px;
}
.sticky{
    background-color: red;
    position: sticky;
    top: 100px;
}