*{
    margin: 0;
    padding: 0n;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1{
    margin: 50px 0px;
}

div{

    /* backround images we can get from the
       "pexles" and "unsplsh" website
      
      */
    width: 600px;
    height: 700px;
    border: 1px solid white;
    /* background-image: linear-gradient(red,blue); */
    /* background-image: linear-gradient(red 20%,blue, yellow); */
     /* background-image: linear-gradient(to right bottom, red 20%,blue, yellow); */
   /* background-image: linear-gradient(50deg,red,blue), url(https://images.pexels.com/photos/33867069/pexels-photo-33867069.jpeg); */
   /* background-image: linear-gradient(rgba(255, 0, 0, 0.3),rgba(0, 0, 255, 0.3)), url(https://images.pexels.com/photos/33867069/pexels-photo-33867069.jpeg);
   background-size: cover; */
   background-image: radial-gradient(red,blue);

   /*
   differnt affects are there in the website css 
   gradiants 
    */


      


}